<div class="principal">
  <section class="no-parallax1">
    <h1 class="ojo">HOLA</h1>
  </section>
  <section class="parallax bg bg1">

    <div class="card p1" style="width: 18rem;">
      <img class="card-img-top" src="./assets/stanlee.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Darwin Alejandro</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card p2" style="width: 18rem;">
      <img class="card-img-top" src="./assets/jane.webp" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Jane Gunn</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
    <div class="card p3" style="width: 18rem;">
      <img class="card-img-top" src="./assets/dar.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Darwin Alejandro</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>


  </section>

  <section class="no-parallax2">
    <h1>Lors asperiores. Commodi.</h1>
  </section>
  <section class="parallax bg bg2">
    <h1>LOREM</h1>
  </section>
  <section class="no-parallax3">
    <h1>Lors asperiores. Commodi.</h1>
  </section>


</div>
<script src="nav.js"></script>
