@import url('https://fonts.googleapis.com/css2?family=Salsa&display=swap');
.principal{

  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0, 0, 0, 0.619)),url(fx1.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img{
  width: 300px;
}
.cuerpo{
  width: 1000px;
  height: 600px;
  background-color: #ababab96;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heroes_container{
  display: flex;
  flex-direction: row;
}
.heroe{
  margin: 10px;
  background-color: #fff;
  backdrop-filter: blur(10px);
  width: 310px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  overflow: hidden;
  transform: translateZ(1px) ;
  box-shadow: 0px 0px 5px .1px rgb(255, 253, 253);
  transition: all ease 300ms;
  height: max-content;

}
.heroe:hover{
  transform: scale(1.03);
  box-shadow: 0px 0px 12px .1px rgb(255, 253, 253);

}
.heroe a img{
  width: 100%;
  height: 200px;
}
.pagination{
  background-color: #ededed96;
  backdrop-filter: blur(10px);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position:relative;
  top: 100px;
  z-index: 1;
}
.pagination::before{
  display: none;
}

.heroe a{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: 'Salsa', cursive;
}

.heroes_container{
  display: flex;
  flex-direction: row;
}
.text{
  font-size: 25px;
}
.buscador{
  position: relative;
  height: 30px;
  width: 300px;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.527);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease 300ms;
  top: -30px;
  left: -300px;

}
.buscador:hover{
  transform: scale(1.01);
  box-shadow: 0px 0px 3px .1px rgb(255, 253, 253);
}
