<div class="principal">

  <div class="cuerpo">
    <!-- <input type="text" placeholder="nombre" [(ngModel)]="nombre"> -->
    <div class="heroes_container" >
        <div    class="heroe" *ngFor="let item of listado|find:nombre|paginate:{itemsPerPage:3,currentPage: p },let indice=index">
            <a [routerLink]="['../modificar',indice+(p-1)*3]" (mouseover)="mouseover(indice+(p-1)*3,indice)" (mouseout)="details=false">
              <img class="img" [src]="item.imagen" alt="">
              <h3 class="text">  {{item.superhero}}   </h3>
            </a>
      </div>
    </div>

    <app-detalles *ngIf="details"  [heroe]='detalleHeroe' [indice]="position"></app-detalles>
    <pagination-controls class="pagination" (pageChange)="p= $event" previousLabel="anterior>" nextLabel="siguiente"></pagination-controls>

  </div>



<!-- <span class="loader"></span> -->

</div>
