<div *ngIf="indice==0 " class="principal">
  <div class="card" style="width: 18rem;">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Nombre</h5>
        <p class="card-text">{{heroe.superhero}}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Primera aparición</h5>
        <p class="card-text">{{heroe.first_appearance}}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Compañía creadora</h5>
        <p class="card-text">{{heroe.publisher}}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Nombre social</h5>
        <p class="card-text">{{heroe.alter_ego}}</p>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 15px;">
    <div class="card-body">
      <h5 class="card-title">Caracteristicas</h5>
      <p class="card-text">{{heroe.characters}}</p>
    </div>
  </div>

</div>



<div *ngIf="indice==1" class="principal1">
  <div class="card" style="width: 18rem;">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Nombre</h5>
        <p class="card-text">{{heroe.superhero}}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Primera aparición</h5>
        <p class="card-text">{{heroe.first_appearance}}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Compañía creadora</h5>
        <p class="card-text">{{heroe.publisher}}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Nombre social</h5>
        <p class="card-text">{{heroe.alter_ego}}</p>
      </div>
    </div>
  </div>

</div>
<div *ngIf="indice==1" class="principal1_1">
  <div class="card" style="width: 18rem; margin-left: 15px;">
    <div class="card-body">
      <h5 class="card-title">Caracteristicas</h5>
      <p class="card-text">{{heroe.characters}}</p>
    </div>
  </div>
</div>


<div *ngIf="indice==2" class="principal2">
  <div class="card" style="width: 18rem;">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Nombre</h5>
        <p class="card-text">{{heroe.superhero}}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Primera aparición</h5>
        <p class="card-text">{{heroe.first_appearance}}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Compañía creadora</h5>
        <p class="card-text">{{heroe.publisher}}</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Nombre social</h5>
        <p class="card-text">{{heroe.alter_ego}}</p>
      </div>
    </div>
  </div>
  <div class="card" style="width: 18rem; margin-left: 15px;">
    <div class="card-body">
      <h5 class="card-title">Caracteristicas</h5>
      <p class="card-text">{{heroe.characters}}</p>
    </div>
  </div>


</div>


