<header>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" routerLink="">HOME</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="lista">HEORES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="adicionar">ADICIONAR</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="modificar">MODIFICAR</a>
    </li>

  </ul>

</header>

<!-- <header class="header header-pp">
  <nav class="nav nav-pp ">
      <div class="menu__principal menu__principal-PP">

          <div class="bars__menu bars-menu-pp">
               <span class="x1"> </span>
               <span class="x2"></span>
               <span class="x3"></span>
               <script src="js/scrip_buttont.js"></script>
          </div>



      </div>
      <div class="div__header div__header-pp">

          <div class="div__logo div__logo-pp">
              <a href="#" class="a__logo a__logo-pp">
                  <img src="" alt="logo" class="logo logo-pp">
              </a>
          </div>
          <ul class="menu__ul menu__ul-pp" >
              <li class="menu__li menu__li-pp"><a href="#presentation" class="menu__a menu__a-pp">INICIO</a></li>
              <li class="menu__li menu__li-pp"><a href="#servicios" class="menu__a menu__a-pp">PROGRAMAS Y SERVICIOS</a></li>
              <li class="menu__li menu__li-pp"><a href="#album" class="menu__a menu__a-pp">¿QUIENES SOMOS?</a></li>
              <li class="menu__li menu__li-pp"><a href="#" class="menu__a menu__a-pp">FAQ</a></li>
          </ul>
      </div>
  </nav>
</header> -->

<router-outlet></router-outlet>
