

<form [formGroup]="modHeroe">
  <input type="text" placeholder="superhero" formControlName="superhero">
  <div class="alert alert-danger" [hidden]="modHeroe.get('superhero')?.valid||modHeroe.get('superhero')?.pristine">
    <span> El campo es obligatorio </span>
  </div>
  <input type="text" placeholder="publisher" formControlName="publisher">
  <input type="text" placeholder="alter_ego" formControlName="alter_ego">
  <input type="text" placeholder="first_appearance" formControlName="first_appearance">
  <input type="text" placeholder="characters" formControlName="characters">
  <input type="file" (change)="subir($event)">

  <button  (click)="publicar()">PUBLICAR</button>

</form>

<button (click)="eliminar()">eliminar</button>
