<div class="principal">


  <div class="cuerpo">
    <form class="formulario" [formGroup]="modHeroe">

      <div class="card"  style="width: 18rem;">
        <img class="card-img-top" [src]="heroe.imagen" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{heroe.superhero}}</h5>
          <input type="file" (change)="subir($event)">
        </div>
      </div>

      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5  class="card-title">Nombre</h5>
            <input class="form-control" type="text" placeholder="Superhero" formControlName="superhero">
            <div class="alert alert-danger" [hidden]="modHeroe.get('superhero')?.valid||modHeroe.get('superhero')?.pristine">
              <span> El campo es obligatorio </span>
            </div>
          </div>


          <div class="card-body">
            <h5 class="card-title">Compañía creadora</h5>
            <input class="form-control" type="text" placeholder="publisher" formControlName="publisher">
          </div>

          <div class="card-body">
            <h5 class="card-title">Nombre social</h5>
            <input class="form-control" type="text" placeholder="alter_ego" formControlName="alter_ego">
          </div>

          <div class="card-body">
            <h5 class="card-title">Primera aparición</h5>
            <input class="form-control" type="text" placeholder="first_appearance" formControlName="first_appearance">
          </div>

      </div>

      <div class="card">
        <div class="card-body">
          <h2 class="card-title">Características</h2>
          <textarea class="form-control caracteristicas" type="text" placeholder="characters" formControlName="characters"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="botones">
    <button class="btn " (click)="modificar()">MODIFICAR</button>
    <button class="btn " (click)="eliminar()">ELIMINAR</button>
   </div>

</div>


