/* .mi-contenedor-personalizado {
  background-color: rebeccapurple;
  border: 2px solid #3498db;
  color: #333;
}

.mi-titulo-personalizado {
  color: #3498db !important;
}
*{
  background-color: #3498db;
} */
